* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
.text-green {
    color: #7eb193 !important;
}
i {
    color: #7eb193;
}
#bg-success {
    background-color: #7eb193 !important;
}
.btn-success {
    background-color: #7eb193 !important;
    border: 1px solid #7eb193 !important;
}
.btn-success:hover {
    background-color: #548669 !important;
    border: 1px solid #548669 !important;
}
#border {
    border-bottom: 1px solid #e9e9e9;
}
.form-control {
    padding: 15px !important;
}
/* SLIDE */
.carousel-control-prev-icon,
.carousel-control-next-icon,
.carousel-indicators {
    background-color: transparent;
}
.bi-heart-fill:hover {
    color: #548669 !important;
}
.card {
    border: none !important;
}
